:root,
:host {
	--size-exponential: 1.2;

	--size--10: calc(var(--size--9) / var(--size-exponential));
	--size--9: calc(var(--size--8) / var(--size-exponential));
	--size--8: calc(var(--size--7) / var(--size-exponential));
	--size--7: calc(var(--size--6) / var(--size-exponential));
	--size--6: calc(var(--size--5) / var(--size-exponential));
	--size--5: calc(var(--size--4) / var(--size-exponential));
	--size--4: calc(var(--size--3) / var(--size-exponential));
	--size--3: calc(var(--size--2) / var(--size-exponential));
	--size--2: calc(var(--size--1) / var(--size-exponential));
	--size--1: calc(var(--size-0) / var(--size-exponential));
	--size-0: 1em;
	--size-1: calc(var(--size-0) * var(--size-exponential));
	--size-2: calc(var(--size-1) * var(--size-exponential));
	--size-3: calc(var(--size-2) * var(--size-exponential));
	--size-4: calc(var(--size-3) * var(--size-exponential));
	--size-5: calc(var(--size-4) * var(--size-exponential));
	--size-6: calc(var(--size-5) * var(--size-exponential));
	--size-7: calc(var(--size-6) * var(--size-exponential));
	--size-8: calc(var(--size-7) * var(--size-exponential));
	--size-9: calc(var(--size-8) * var(--size-exponential));
	--size-10: calc(var(--size-9) * var(--size-exponential));
	--size-11: calc(var(--size-10) * var(--size-exponential));
	--size-12: calc(var(--size-11) * var(--size-exponential));
	--size-13: calc(var(--size-12) * var(--size-exponential));
	--size-14: calc(var(--size-13) * var(--size-exponential));
	--size-15: calc(var(--size-14) * var(--size-exponential));
	--size-16: calc(var(--size-15) * var(--size-exponential));
	--size-17: calc(var(--size-16) * var(--size-exponential));
	--size-18: calc(var(--size-17) * var(--size-exponential));
	--size-19: calc(var(--size-18) * var(--size-exponential));
	--size-20: calc(var(--size-19) * var(--size-exponential));
}
