@import "./css/bundle.css";

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;

	color: white;
	background-color: var(--neutral-dark-3);
}

body {
	opacity: 1;
	position: relative;
	display: flex;
	flex-flow: column;
	min-width: var(--size-19);
	overflow: hidden;

	line-height: 1.5;
	font-size: 1rem;
	transition: opacity var(--time--3);
}

body.loading {
	opacity: 0;
}

body>div[name="main"] {
	flex: 1 0 0;
	overflow-x: hidden;
	overflow-y: auto;

	background-color: var(--neutral-dark-3);
}
