@import "./css/bundle.css";

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	position: relative;
	display: flex;
	flex-flow: column;

	line-height: 1.5;
	font-size: 1rem;
	color: white;
	background-color: black;

	min-width: var(--size-19);
}

body>div[name="main"] {
	flex: 1 0 0;
	overflow-x: hidden;
	overflow-y: auto;

	color: white;
	background-color: black;
}
