<template>
	<link rel="stylesheet" href="./components/about.css">
	<div>
		<traders-banner name="about" image="./assets/group-grass.jpg" gradient>
			<div slot="content">
				<img src="./assets/logo-words-dark.png" />
				<h3>At MIT’s premier undergraduate quantitative finance club,</h3>
				<p>
					We partner with leading industry sponsors annually to host the <em>largest intercollegiate trading competition</em> in the country. In addition, we organize seminars and events to prepare students for successful careers in quantitative trading and finance.
				</p>
			</div>
		</traders-banner>
		<traders-banner name="compete" image="./assets/competition-social-wide.jpg" blur>
			<div slot="content">
				<h2>Compete</h2>
				<div>
					<p>
						Compete against students from around the world in our annual quantitative trading competition. Participants will create trading strategies to compete for $20,000 in prizes. In addition, they will have the opportunity to participate in exclusive networking events with our sponsors.
					</p>
					<button>Learn More</button>
				</div>
			</div>
		</traders-banner>
		<traders-banner name="sponsor" image="./assets/sponsor-social-wide.jpg" blur>
			<div slot="content">
				<h2>Sponsor</h2>
				<div>
					<p>
						Connect with students from top-tier universities in our annual two-day event. Sponsors will engage closely with all competitors and have the opportunity to send representatives to the competition.
					</p>
					<button>Learn More</button>
				</div>
			</div>
		</traders-banner>
		<div name="board">
			<h2>Board</h2>
			<div class="presidents">
				<traders-profile image="./assets/profiles/joanneyu.jpg" large>
					<span slot="name">Joanne Yuan</span>
					<span slot="role">Co-President</span>
					<span slot="about"><p>Joanne is a rising junior studying computer science. She's interested in machine learning and quantitative trading and, in her free time, she enjoys reading, ice skating, and trying new kinds of food.</p></span>
				</traders-profile>
				<traders-profile image="./assets/profiles/sxia.jpg" large>
					<span slot="name">Sophia Xia</span>
					<span slot="role">Co-President</span>
					<span slot="about"><p></p></span>
				</traders-profile>
			</div>
			<div class="general">
				<!-- Seniors. -->
				<traders-profile image="./assets/profiles/yangilga.jpg">
					<span slot="name">Yang Yan</span>
					<span slot="role">Dev Team</span>
					<span slot="about"><p>Yang is a rising senior studying Mathematics and Computer Science. In his free time, Yang likes to watch anime or write poetry.</p></span>
				</traders-profile>
				<traders-profile image="./assets/profiles/sbalaji.png">
					<span slot="name">Shreyas Balaji</span>
					<span slot="role">Trading Team</span>
				</traders-profile>
				<traders-profile image="./assets/profiles/agustin.jpg">
					<span slot="name">Agustin Garcia</span>
					<span slot="role">Trading Case Lead</span>
				</traders-profile>
				<traders-profile image="./assets/profiles/robbie.jpg">
					<span slot="name">Robert Lindland</span>
					<span slot="role">Trading Team</span>
				</traders-profile>
				<traders-profile>
					<span slot="name">Sarah Wang</span>
					<span slot="role">Trading Team</span>
				</traders-profile>
				
				<!-- Juniors. -->
				<traders-profile>
					<span slot="name">Katherine Cheng</span>
					<span slot="role">Trading Team</span>
					<span slot="about"><p> Katherine is a rising junior studying Mathematics and Computer Science. She enjoys reading, drawing, and ice skating. </p></span>
				</traders-profile>
				<traders-profile>
					<span slot="name">Swapnil Garg</span>
					<span slot="role">Trading Case Lead</span>
				</traders-profile>
				<traders-profile>
					<span slot="name">Avichal Goel</span>
					<span slot="role">Trading Case Lead</span>
				</traders-profile>
				<traders-profile>
					<span slot="name">Richard Gong</span>
					<span slot="role">Trading Case Lead</span>
				</traders-profile>
				<traders-profile>
					<span slot="name">Linda Yu</span>
					<span slot="role">Logistics Team</span>
				</traders-profile>
				
				<!-- Sophomores. -->
				<traders-profile>
					<span slot="name">Kristina Chen</span>
					<span slot="role">Head of Logistics</span>
				</traders-profile>
				<traders-profile>
					<span slot="name">Sarah Chieng</span>
					<span slot="role">Logistics Team</span>
				</traders-profile>
				<traders-profile>
					<span slot="name">Jiahai Feng</span>
					<span slot="role">Trading Team</span>
				</traders-profile>
				<traders-profile>
					<span slot="name">Jerry Han</span>
					<span slot="role">Logistics Team</span>
				</traders-profile>
				<traders-profile>
					<span slot="name">Laurena Huh</span>
					<span slot="role">Logistics Team</span>
				</traders-profile>
				<traders-profile>
					<span slot="name">Kevin Liu</span>
					<span slot="role">Trading Team</span>
				</traders-profile>
				<traders-profile>
					<span slot="name">Kyle Liu</span>
					<span slot="role">Dev Team</span>
				</traders-profile>
				
				<!-- Freshmen. -->
			</div>
		</div>
		<traders-banner name="join" image="./assets/group-stairs-wide.jpg" blur>
			<div slot="content">
				<h2>Join</h2>
				<div>
					<p>
						Join our executive board to design cases and organize our annual competition. Board members will meet fellow students interested in trading and learn about the industry through our weekly spring seminar series.
					</p>
					<button>Learn More</button>
				</div>
			</div>
		</traders-banner>
		<div name="contact">
			<div>
				<h2>Have questions?</h2>
				<p>Contact us at <a href="mailto:traders-exec@mit.edu">traders-exec@mit.edu</a>.</p>
			</div>
		</div>
	</div>
</template>
