<template>
	<link rel="stylesheet" href="./components/about.css">
	<div>
		<traders-banner class="about">
			<div slot="content">
				<img src="./assets/logo-words-dark.png" />
				<h2>At MIT’s premier undergraduate quantitative finance club,</h2>
				<p>
					We partner with leading industry sponsors annually to host the largest intercollegiate trading competition. In addition, we organize seminars on topics anywhere from game theory to market making, promoting interest in trading to the MIT community.
				</p>
			</div>
		</traders-banner>
	</div>
</template>
