@import "../css/bundle.css";

:host>div {
	position: relative;
}

:host>div>img {
	width: 100%;
}

:host>div>div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, #000000 100%);
}
