<template>
	<link rel="stylesheet" href="./components/competition.css">
	<div>
		<traders-banner name="compete" image="./assets/competition-social-wide.jpg" blur>
			<div slot="content">
				<img src="./assets/logo-words-dark.png" />
				<h1>Annual Competition</h1>
			</div>
		</traders-banner>
		<!-- TODO: Use the `open` class to mark applications open, e.g. <div name="main" open>. -->
		<div name="main">
			<div name="stats">
				<div>
					<span name="number">10,000</span>
					<span name="units">USD in prizes</span>
				</div>
				<div>
					<span name="number">120</span>
					<span name="units">competitors</span>
				</div>
				<div>
					<span name="number">30</span>
					<span name="units">schools</span>
				</div>
			</div>
			<h2 name="open">Think you have what it takes?</h2>
			<h2 name="closed">Applications for the Fall 2021 competition are live!</h2>

			<!-- TODO: change these links! -->
			<!-- <a href="./assets/sample_case.pdf"><button name="view">View Sample Case</button></a> -->
			<a href="https://forms.gle/iemN4zTvsHTTi3xv7"><button>Apply Now</button></a>

			<p name="blurb">Our 14th Annual Intercollegiate Trading Competition brings together top students from around the world 
				to pit their trading strategies against each other head to head. This year, our competition will be held on Saturday, 
				September 25, 2021, and Sunday, September 26, 2021.<br><br>
				The competition will be entirely virtual. Competitors will work on trading strategies while competing in two cases released on competition day.
				<br><br>Students may apply in teams of up to two. Each year, approximately 120 students compete from top universities 
				including MIT, Harvard, Princeton, Stanford, and Yale. All accepted competitors will be provided $35 in dining 
				reimbursement per day, as well as exclusive networking opportunities with sponsors from top trading firms.
			</p>
			<h3>Photo Gallery</h3>

			<div name="gallery">
				<img src="./assets/competition/two-dudes.jpg" />
			</div>
		</div>
	</div>
</template>
