<template>
	<link rel="stylesheet" href="./components/competition.css">
	<div>
		<traders-banner name="compete" image="./assets/competition-social-wide.jpg" blur>
			<div slot="content">
				<img src="./assets/logo-words-dark.png" />
				<h1>Annual Competition</h1>
			</div>
		</traders-banner>
		<!-- TODO: Use the `open` class to mark applications open, e.g. <div name="main" open>. -->
		<div name="main" open>
			<div name="stats">
				<div>
					<span name="number">20,000</span>
					<span name="units">USD in prizes</span>
				</div>
				<div>
					<span name="number">120</span>
					<span name="units">competitors</span>
				</div>
				<div>
					<span name="number">30</span>
					<span name="units">schools</span>
				</div>
			</div>
			<h2 name="open">Think you have what it takes?</h2>

			<!-- TODO: change these links! -->
			<!-- <a href="./assets/sample_case.pdf"><button name="view">View Sample Case</button></a> -->
			<a href="https://forms.gle/qabitNr3fyiwdH1T8"><button name="apply">Apply Now</button></a>

			<p name="blurb">Our 13th Annual Intercollegiate Trading Competition brings together top students from around the world 
				to pit their trading strategies against each other head to head. This year, our competition will be held on Saturday, 
				November 7, 2020, and Sunday, November 8, 2020.<br><br>
				The competition will be entirely virtual. Competitors will work on trading strategies in Python or C++ prior to the 
				competition, as well as compete in two cases released on competition day.
				<br><br>Students may apply in teams of up to two. Each year, approximately 120 students compete from top universities 
				including MIT, Harvard, Princeton, Stanford, and Yale. All accepted competitors will be provided $100 in dining 
				reimbursement, as well as exclusive networking opportunities with sponsors from top trading firms.
			</p>
			<h3>Photo Gallery</h3>

			<div name="gallery">
				<img src="./assets/competition/two-dudes.jpg" />
			</div>
		</div>
	</div>
</template>
