@import "../css/bundle.css";

:host {
	text-align: center;
}

:host traders-banner>div {
	text-align: center;
}

:host traders-banner>div>img {
	height: var(--size-9);
	margin: 5% auto auto;
}

:host traders-banner>div>h1 {
	margin: var(--size--5) auto 5%;
}

:host [name="stats"] {
	display: flex;
	flex-flow: row;
	padding: var(--size-5) 0;

	justify-content: center;
}

:host [name="stats"]>div {
	display: flex;
	flex-flow: column;
	flex: 0 1 var(--size-14);
	
	font-family: var(--font-title);
}

:host [name="stats"]>div>[name="number"] {
	color: var(--accent-light-1);
	font-size: var(--size-4);
}

:host [name="stats"]>div>[name="units"] {
	font-size: var(--size-2);
}

:host [name="main"] {
	display: flex;
	flex-flow: column;
}

:host [name="main"]>h2 {
	margin: var(--size--3) auto;

	color: white;
}

:host [name="main"]>h2[name="open"] {
	display: none;
}

:host [name="main"][open]>h2[name="closed"] {
	display: none;
}

:host [name="main"][open]>h2[name="open"] {
	display: initial;
}

:host [name="main"]>a {
	margin: auto;
}

:host [name="main"] button[name="view"] {
	margin: 0 auto var(--size--1);
}

:host [name="main"] button[name="apply"] {
	display: none;
}

:host [name="main"][open] button[name="apply"] {
	display: initial;
}

:host [name="main"] p[name="blurb"] {
	max-width: 70%;
	margin: var(--size-5) auto var(--size--2);
}

:host [name="main"]>h3 {
	margin: var(--size-5) auto var(--size-1);
}

:host [name="gallery-wrapper"] {
	background-color: black;
}

:host [name="gallery"] {
	width: 85vmin;
	height: 85vmin;
	margin: auto;
	display: flex;
}

:host [name="gallery"]>img {
	max-height: 100%;
	max-width: 100%;
	margin: auto;

	cursor: pointer;
}
