<template>
	<link rel="stylesheet" href="./components/join.css">
	<div>
		<traders-banner name="compete" image="./assets/group-stairs-wide.jpg" blur>
			<div slot="content">
				<img src="./assets/logo-words-dark.png" />
				<h1>Traders Week & Recruitment</h1>
			</div>
		</traders-banner>
		<!-- TODO: Use the `open` class to mark applications open, e.g. <div name="main" open>. -->
		<div name="main">
			<p>Traders@MIT is a small, close-knit group of twenty undergraduate students. We have a relatively flat structure, and all board members are given the opportunity to contribute equally.<br><br> 
New members will benefit from our strong mentorship and education program. No trading experience is required, and we teach weekly seminars in the spring on topics in trading and quantitative finance.<br><br>
In the fall, we primarily work to organize our annual trading competition, the largest of its kind in the country. Members will design competition cases, develop our trading exchange, and coordinate logistics to ensure our competition runs smoothly.<br><br>
Throughout the year, we organize fun social events, including dinners and retreats. We’d love to have you join us!
</p>
			<a href="https://google.com"><button name="apply">Apply for Traders</button></a>
			<h2>Join us for Traders Week</h2>
			<div>
				<img src="./assets/join/apply-now.jpg" />
				<div>
					<h3>Intro to Traders and Q&A</h3>
					<i>Tuesday, Sept 8, 6-7PM ET, Zoom</i>
					<p>Find out about what we do on campus.</p>
				</div>
			</div>
			<div>
				<img src="./assets/join/apply-now.jpg" />
				<div>
					<h3>Estimathon</h3>
					<i>Wednesday, Sept 9, 6-7PM ET, Zoom</i>
					<p>Test your skills against the wackiest facts our board can come up with.</p>
				</div>
			</div>
			<div>
				<img src="./assets/join/apply-now.jpg" />
				<div>
					<h3>Poker Night</h3>
					<i>Thursday, Sept 10, 6-7PM ET, Zoom</i>
					<p>Try your luck in poker and socialize with board members.</p>
				</div>
			</div>
			<div>
				<img src="./assets/join/apply-now.jpg" />
				<div>
					<h3>Resume Workshop with the Board</h3>
					<i>Friday, Sept 11, 6-7PM ET, Zoom</i>
					<p>Get career, internship, and resume advice from upperclassmen.</p>
				</div>
			</div>
		</div>
	</div>
</template>
