<template>
	<link rel="stylesheet" href="./components/join.css">
	<div>
		<traders-banner name="compete" image="./assets/group-stairs-wide.jpg" blur>
			<div slot="content">
				<img src="./assets/logo-words-dark.png" />
				<h1>Traders Week & Recruitment</h1>
			</div>
		</traders-banner>
		<!-- TODO: Use the `open` class to mark applications open, e.g. <div name="main" open>. -->
		<div name="main">
			<br><p>Traders@MIT is a small, close-knit group of twenty undergraduate students. We have a relatively flat structure, and all board members are given the opportunity to contribute.<br><br>
			New members will benefit from our mentorship and education program. No trading experience is required, and we teach weekly internal seminars during IAP on topics in trading and quantitative finance.<br><br>
			In the fall, we primarily work to organize our annual trading competition, the largest of its kind in the country. Members will design competition cases, develop our trading exchange, and coordinate logistics to ensure our competition runs smoothly.<br><br>
			Throughout the year, we organize fun social events, including coffee chats, dinners, and retreats. We’d love to have you join us!
			</p>
			<h3>Applications to join Traders@MIT are now closed.</h3>
			<!-- <a href="https://forms.gle/uqbw2TD7fAa2RFcj6"><button>Apply to Traders</button></a> -->
			<!-- <div>
				<img src="./assets/join/intro.jpg" />
				<div>
					<h3>Intro to Traders and Q&A</h3>
					<i>Monday, Sept 12, 7-8PM ET, 3-370</i>
					<p>Find out about what we do on campus and meet our executive board.</p>
				</div>
			</div>
			<div>
				<img src="./assets/join/poker.jpeg" />
				<div>
					<h3>Poker</h3>
					<i>Tuesday, Sept 13, 7-9PM ET, BC Porter Room</i>
					<p>Play poker with us (beginners welcome) for a chance to win prizes!</p>
				</div>
			</div>
			<div>
				<img src="./assets/join/pennies.jpeg" />
				<div>
					<h3>Estimathon</h3>
					<i>Wednesday, Sept 14, 7-8PM ET, 3-370</i>
					<p>Test your guesstimation skills against the wackiest facts our board can come up with!</p>
				</div>
			</div>
			<div>
				<img src="./assets/join/apply-now.jpg" />
				<div>
					<h3>Resumé Review / Networking</h3>
					<i>Thursday, Sept 15, 7-8PM ET, Zoom</i>
					<p>Get career, internship, and resume advice from Traders board members.</p>
				</div>
			</div> -->
		</div>
	</div>
</template>
