<template>
	<link rel="stylesheet" href="./components/menu.css">
	<div>
		<img src="./assets/logo-words-dark.png">
		<traders-menu-item name="about">
			<span slot="text">About</span>
		</traders-menu-item>
		<traders-menu-item name="competition">
			<span slot="text">Competition</span>
		</traders-menu-item>
		<traders-menu-item name="sponsors">
			<span slot="text">Sponsors</span>
		</traders-menu-item>
		<traders-menu-item name="join">
			<span slot="text">Join</span>
		</traders-menu-item>
		<traders-menu-item name="schedule">
			<span slot="text">Fall 2020 Competition Schedule</span>
		</traders-menu-item>
	</div>
</template>
