@import "../css/bundle.css";

:host>div {
	display: flex;
	flex-flow: row;
	width: 100%;
	height: var(--size-6);

	color: white;
	background-color: var(--neutral-dark-3);
	font-size: var(--size-1);
}

:host>div>img {
	flex: 0 1 auto;
	max-height: var(--size-3);
	margin: auto auto auto var(--size--4);
	padding-right: var(--size--4);
}
