@import "../css/bundle.css";

:host>div {
	display: flex;
	flex-flow: row;
	width: 100%;
	height: var(--size-5);

	color: white;
	background-color: var(--neutral-dark-3);
}

:host>div>img {
	flex: 0 0 auto;
	height: var(--size-3);
	margin: auto auto auto var(--size--4);
}
