@import "../css/bundle.css";

:host>div {
	--profile-img-size: var(--size-12);

	display: flex;
	flex-flow: column;
	padding: var(--size-2);
	width: var(--profile-img-size);

	font-family: var(--font-title);
}

:host([large])>div {
	--profile-img-size: var(--size-14);
}

:host>div>img {
	width: var(--profile-img-size);
	height: var(--profile-img-size);
	margin-bottom: var(--size-0);

	border-radius: calc(var(--profile-img-size) / 2);
	cursor: pointer;
}

:host>div>[name="name"] {
	color: var(--accent-light-1);
}

:host>div>* {
	text-align: center;
}

:host [name="modal"] {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	display: flex;
	flex-flow: column;
	justify-content: center;

	background-color: rgba(0, 0, 0, 0.9);
	pointer-events: none;
}

:host([open]) [name="modal"] {
	opacity: 1;

	pointer-events: initial;
	cursor: pointer;
}

:host([open]) [name="modal"]>div {
	margin: auto;
}

:host([open]) [name="modal"]>div>* {
	max-width: 70%;
	padding: var(--size-0);
}

:host([open]) [name="modal"]>div>img {
	width: var(--size-16);
}
