@import "../css/bundle.css";

:host>div {
	display: flex;
	flex-flow: column;
	padding: var(--size-2);

	font-family: var(--font-title);
}

:host>div>img {
	--profile-img-size: var(--size-12);

	width: var(--profile-img-size);
	height: var(--profile-img-size);
	margin-bottom: var(--size-0);

	border-radius: calc(var(--profile-img-size) / 2);
}

:host([large])>div>img {
	--profile-img-size: var(--size-14);
}

:host>div>* {
	text-align: center;
}
