<template>
	<link rel="stylesheet" href="./components/sponsors.css?v=3">
	<div>
		<traders-banner name="compete" image="./assets/sponsor-social-wide.jpg" blur>
			<div slot="content">
				<img src="./assets/logo-words-dark.png" />
				<h1>Sponsors (2022-2023)</h1>
			</div>
		</traders-banner>
		<div name="main">
			<p>Our sponsors are essential to successfully running our competition and hosting trading events on-campus. 
        We are currently finalizing sponsors for the 2022-2023 academic year. 
        If your firm is interested in becoming involved, please reach out to us at <a href="mailto:traders-sponsorships@mit.edu">traders-sponsorships@mit.edu</a>.</p>

			<!-- Images should be at least var(--size-10) (100px) in height. -->
			<div name="diamond" class="text">
                                <a href="https://www.janestreet.com/" target="_blank"><img src="./assets/sponsors/janestreet.png" /></a>
				<a href="https://sig.com/" target="_blank"><img src="./assets/sponsors/sig.png" /></a>
			</div>
			<div name="platinum" class="text">
				<a href="https://citadel.com" target="_blank"><img src="./assets/sponsors/citadel.png" /></a>
				<a href="https://drw.com" target="_blank"><img src="./assets/sponsors/drw.png" /></a>
				<a href="https://fiverings.com" target="_blank"><img src="./assets/sponsors/fiverings.png?5" /></a>
				<a href="https://www.hudsonrivertrading.com/" target="_blank"><img src="./assets/sponsors/hrt.png" /></a>
			</div>
			<div name="gold" class="text">
				<a href="https://genesistrading.com/" target="_blank"><img src="./assets/sponsors/genesis.png" /></a>
				<a href="https://www.hedgetech.io/" target="_blank"><img src="./assets/sponsors/hedgetech.png" /></a>
				<a href="http://www.vaticinvestments.com/" target="_blank"><img src="./assets/sponsors/vatic.png" /></a>
			</div>
			<div name="silver" class="text">
				<a href="https://www.deshaw.com/" target="_blank"><img src="./assets/sponsors/deshaw.png" /></a>
				<a href="https://www.jqinvestments.com/" target="_blank"><img src="./assets/sponsors/jq.png" /></a>
				<a href="https://www.tower-research.com/" target="_blank"><img src="./assets/sponsors/tower.png" /></a>
			</div>
			<div name="bronze" class="text">
				<a href="https://www.valkyrietrading.com/" target="_blank"><img src="./assets/sponsors/valkyrie.png" /></a>
			</div>
		</div>
	</div>
</template>
