<template>
	<link rel="stylesheet" href="./components/sponsors.css?v=1">
	<div>
		<traders-banner name="compete" image="./assets/sponsor-social-wide.jpg" blur>
			<div slot="content">
				<img src="./assets/logo-words-dark.png" />
				<h1>Sponsors</h1>
			</div>
		</traders-banner>
		<div name="main">
			<p>Our sponsors are essential to successfully running our competition and hosting trading events on-campus. If your firm is interested in becoming involved, please reach out to us at <a href="mailto:traders-sponsorships@mit.edu">traders-sponsorships@mit.edu</a>.</p>

			<!-- Images should be at least var(--size-10) (100px) in height. -->
			<div name="diamond">
			</div>
			<div name="platinum">
			</div>
			<div name="gold">
				<a href="https://citadel.com" target="_blank"><img src="./assets/sponsors/citadel.png" /></a>
<a href="https://fiverings.com" target="_blank"><img src="./assets/sponsors/fiverings.png?5" /></a>                                
<a href="https://drw.com" target="_blank"><img src="./assets/sponsors/drw.png" /></a>
                                <a href="https://www.janestreet.com/" target="_blank"><img src="./assets/sponsors/janestreet1.png" /></a>
				<a href="https://www.imc.com/us/" target="_blank"><img src="./assets/sponsors/imc.png" /></a>
			</div>
			<div name="silver" class="text">
				<!-- span>SIG</span -->
				<a href="https://sig.com/" target="_blank"><img src="./assets/sponsors/sig.png" /></a>
			</div>
			<div name="bronze" class="text">
				<!-- span>Flow Traders</span -->
				<a href="https://www.flowtraders.com/" target="_blank"><img src="./assets/sponsors/flow.png" /></a>
				<a href="https://www.tower-research.com/" target="_blank"><img src="./assets/sponsors/tower.png" /></a>
				<a href="https://www.jqinvestments.com/home" target="_blank"><img src="./assets/sponsors/jq.png" /></a>
				<a href="http://www.headlandstech.com/" target="_blank"><img src="./assets/sponsors/headlands.png" /></a>
				<a href="http://www.vaticinvestments.com/" target="_blank"><img src="./assets/sponsors/vatic.png" /></a>
			</div>
		</div>
	</div>
</template>
