@import "../css/bundle.css";

/*:host traders-banner>div {
	margin: auto;

	text-align: center;
}

:host traders-banner>div>img {
	height: var(--size-9);
	margin: 5% auto auto;
}

:host traders-banner>div>h1 {
	margin: var(--size--5) auto 5%;
}

:host [name="main"] {
	display: flex;
	flex-flow: column;

	color: black;
	background-color: white;
}

:host [name="main"]>p {
	max-width: 60%;
	margin: var(--size-3) auto;

	text-align: center;
}

:host [name="main"]>[name="diamond"],
:host [name="main"]>[name="platinum"],
:host [name="main"]>[name="gold"] {
	display: flex;
	flex-flow: row wrap;
	padding: var(--size-0) 0;
	max-width: 100%;
	margin: auto;

	justify-content: center;
}

:host [name="main"] img {
	margin: var(--size-2);
	max-width: calc(100% - 2 * var(--size-2));
}

:host [name="diamond"] img {
	max-height: var(--size-10);
}

:host [name="platinum"] img {
	max-height: var(--size-7);
}


:host [name="gold"] img {
        max-height: var(--size-10);
}

:host .text {
	display: flex;
	flex-flow: row wrap;
	padding: var(--size-0) 20%;
	width: 60%;

	justify-content: center;
	text-align: center;
}

:host .text span {
	padding: var(--size--2) var(--size-1);

	font-family: var(--font-title);
	font-size: var(--size-2);
}


:host [name="gold"] {
	background: linear-gradient(270deg, #FFFFFF 0%, var(--highlight-gold) 100%);
}

:host [name="silver"] {
	background: linear-gradient(270deg, #FFFFFF 0%, var(--highlight-silver) 100%);
}

:host [name="bronze"] {
	background: linear-gradient(270deg, #FFFFFF 0%, var(--highlight-bronze) 100%);
}
*/
