<template>
	<link rel="stylesheet" href="./components/sponsors.css">
	<div>
		<traders-banner name="compete" image="./assets/sponsor-social-wide.jpg" blur>
			<div slot="content">
				<img src="./assets/logo-words-dark.png" />
				<h1>Sponsors</h1>
			</div>
		</traders-banner>
		<div name="main">
			<p>Our sponsors are essential to successfully running our competition and hosting trading events on-campus. If your firm is interested in becoming involved, please reach out to us at <a href="mailto:traders-sponsorships@mit.edu">traders-sponsorships@mit.edu</a>.</p>

			<!-- Images should be at least var(--size-10) (100px) in height. -->
			<div name="diamond">
			</div>
			<div name="platinum">
			</div>
			<div name="gold">
				<a href="https://citadel.com"><img src="./assets/sponsors/citadel.png" /></a>
<a href="https://fiverings.com"><img src="./assets/sponsors/fiverings.png?5" /></a>                                
<a href="https://drw.com"><img src="./assets/sponsors/drw.png" /></a>
                                <a href="https://www.janestreet.com/"><img src="./assets/sponsors/janestreet1.png" /></a>
				<a href="https://www.imc.com/us/"><img src="./assets/sponsors/imc.png" /></a>
			</div>
			<div name="silver" class="text">
				<span>SIG</span>
			</div>
			<div name="bronze" class="text">
				<span>Flow Traders</span>
			</div>
		</div>
	</div>
</template>
